@charset "UTF-8";

.header{
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 80px;
    padding: 10px;
    display: flex; /* Faz os elementos ficarem em linha */
    align-items: center; /* Centraliza verticalmente os elementos */
    justify-content: space-between; /* Espaçamento igual entre os elementos */
    border-bottom: 1px solid #08AD9D;
    background-color: #141313/* Cor de fundo do cabeçalho */
}


form.search{ 
    position: relative;
    right: 16%;
    display: flex;
    text-align: left;
    width: 35%;
    height: auto;
    line-height: 1.2em;
    padding: 10px;
    margin: 10px;
    border-radius: 50px;
    background-color: rgba(128, 128, 128, 0.219);
    border: 1px solid #08AD9D;
}

#barra_busca{
    width: 300px;
    font-size: 12pt;
    border: 0px solid black;
    outline: none;
    background-color: transparent;
    margin: 0 15px;
}

::placeholder{
    color: #08AD9D;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.356);
}

.img_perfil{
    width: 53px;
    height: auto;
    
    border-radius: 50%;
    border: 1px solid transparent;
    background-color: #1a1a1a00;
    cursor: pointer;
    transition: 0.4s;  
}

.img_perfil:hover{
    cursor: pointer;
    filter: drop-shadow(0 0 2em #08ad9c69);
    transform: scale(1.1);
}

button{
    background-color: transparent;
    border: 0px solid black;
}

@media screen and (min-width: 290px) and  (max-width: 700px){
    form.search{ 
        right: 5%;
        width: 50%;
        
    }
    
    #barra_busca{
        width: 160px;
    }
}