<<<<<<< Updated upstream
@charset "UTf-8";

.button-post {
    border-radius: 30px;
    border: 1px solid #AE119E;
    background-color: #100b10;
    width: max-content;
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
    transition: .4s ease;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #AE119E;
}

.p_btn_criarP {
    color: #08AD9D;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 525px;
}
=======
@charset "UTF-8";

.share{    
    display: flex;
}

.button-post{
    display: flex;
    text-align: left;
    width: 90%;
    height: auto;
    line-height: 1.2em;
    padding: 10px;
    margin: 10px;
    border-radius: 50px;
    font-size: 100%;
    color: #08AD9D;
    background-color: rgba(128, 128, 128, 0.219);
    border: 2px solid #08AD9D;
}

.button-post:hover{
    cursor: pointer;
}


>>>>>>> Stashed changes
