.button-post > img{
    position: absolute;
    left: 590px;
    top: 16px;
    transition: .4s;
    transition-timing-function: ease;
}

.button-post img:hover{
    cursor: pointer;
    transform: scale(1.2)
}