@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap'); /* Importa a fonte do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Hubballi&display=swap');


.body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    text-align: center;
  }

  
  .container1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .left {
    margin-right: auto;
  }
  
  .right {
    margin-left: auto;
  }
  
  .Login {
    display: flex;
    padding: 10px;
    margin-left: 30%;
    margin-right: 30%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #AE119E;
    border-radius: 30px;
    box-shadow: 1px 1px 10px 0px #AE119E ;
    
  }
  
  .senhalogar {
    
    color: #AE119E;
    font-size: 30px;
    font-family: Hubballi;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    
  }

  .nomelogar {
    
    color: #AE119E;
    font-size: 30px;
    font-family: Hubballi;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
  }
  
  .logar {
    display: block;
    width: 400px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.43;
    border: 1px solid #08AD9D;
    background-color:#252323 ;
    border-radius: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;
    color:#08AD9D;
  }
  
  .erro {
    color: #AE119E;
    font: 26px;
    font-family: Hubballi;
    text-align: left;
  }
.Entrar{
    margin-bottom: 10px;
    padding: 10px;
    font-size: 30px;
    font-family: Hubballi;
    color: #08AD9D;
    border: 2px solid #AE119E;
    background-color: #000000;
    border-radius: 30px;
    cursor: pointer;
}
.Entrar:active {
    transform: translateY(2px); 
  }

.Espaco{
    margin-top: 10px;
}

.logo{
    font-family: Caveat;
    font-size: 100px;
    color: #AE119E;
}

.server-response{
  width: 400px;
  text-align: left;
}