@charset "UTf-8";


/* ******************************************* */

.container_tags{
    position: fixed;
    left: 10%;
    top: 65%;

    width: 260px;
    height: 450px;
    border-radius: 30px;
    border: 1px solid #AE119E;
}

.lista_tags li{
    display: grid;
    grid-template-columns: 50% auto; 
    align-items: center; 
    transition: 0.4s;
}

.lista_tags{
    position: absolute;
    left: 0;
    top: 10%;
}

.tags{
    width: 50%;
    transform: scale(2);
    margin: 10px;
    transition: .4s;
}

.lista_tags li:hover{
    cursor: pointer;
    filter: drop-shadow(0 0 2em #08ad9c2d);
    transform: scale(1.1);
}

h3{
    text-indent: 2em;
    color: #AE119E;
    font-size: 30px;
    font-weight: 400;
    line-height: 10px;
}

.text_tags{
    color: #AE119E;
    font-size: 14pt;
    font-weight: 400;
}

/* ******************************************* */

.container_share{
    position: absolute;
    left: 35%;
    top: 65%;
    width: 750px;
    border-radius: 30px;
    border: 1px solid #AE119E;
    padding: 10px;
}

#area_texto{
    width: 620px;
    height: 20px;
    line-height: 1.2em;
    padding: 10px;
    border: 2px solid #08AD9D;
    background-color: rgba(128, 128, 128, 0.219);
    outline: none;
    resize: none;
    border-radius: 50px;

    font-size: 13pt;
}

form.share{
    position: absolute;
    top: 8%;
    left: 10%;
}

::-webkit-scrollbar{
    display: none;
}

hr{
    border: 1px solid #252323;;
}

.lista_icones_share{
    position: absolute;

    left: 0%;
    top: 60%;

    display: grid;
    grid-template-columns: 100px 100px 100px; 
    gap: 10px;
    align-items: center;
    list-style: none;

}

.lista_icones_share button{
    transition: .4s;
}

.lista_icones_share button:hover{
    filter: drop-shadow(0 0 2em #ae119e6b);
    cursor: pointer;
}

.text_share{
    color: #08AD9D;
    font-size: 15px;
    font-weight: 400;
}

.btn_share{
    position: relative;
    left: 75%;
    border-radius: 5px;
    margin: 0 0 0 10px;
    transition: .3s;
}

.btn_share:hover{
    filter: drop-shadow(0 0 2em #08ad9c4f);
    cursor: pointer;
}

.btn_share#mostra_tags{
    display: inline-flex;
    width: 50px;
    height: 20px;
    border-radius: 5px;
    background: linear-gradient(140deg, #08AD9D 47.83%, #AE119E 48.14%);
}

.btn_share#publica{
    width: 70px;
    height: 20px;
    border-radius: 5px;
    background: linear-gradient(204deg, #08AD9D 47.83%, #AE119E 48.14%);
}

/* ***************************** */

.container_post{
    position: absolute;
    left: 35%;
    top: 90%;

    width: 740px;
    height: auto;

    padding: 20px;
    border-radius: 30px;
    border: 1px solid #AE119E;
    background: #141313;
}

.text_loc{
    position: absolute;
    top: 0%;
    left: 12%;
    color: #08AD9D;
    font-size: 24px;
    font-weight: 400;
}

.horas{
    position: absolute;
    top: 8%;
    left: 12%;
    color: #FFF;
    font-size: 15px;
}

img#post_foto{
    display: block;
    margin: auto;
    width: 400px;
    height: 260px;
}

.interagir{
    display: flex;
    align-items: center;
    justify-items: center;
}

.stats_post{
    font-size: 15px;
}

.btn_interagir img:hover{
    cursor: pointer;
}

p{
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    margin: 5px 20px 0 1px;
}

strong{
    font-weight: normal;
    color: #AE119E;
}
