@charset "UTF-8";

/* Estilização do componente PostForm */
.container_share {
  position: absolute;
  left: 65%;
  top: 10%;
  width: 25%;
  height: 30px;
  border-radius: 30px;
  border: 0px solid #AE119E;
  padding: 10px;
  background-color: transparent;
}
  
.img_perfil{
  display: none;
}


hr {
  border: 1px solid #252323;
}
  
.lista_icones_share {
  position: absolute;
  left: 0;
  top: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 10px;
}
  
.lista_icones_share button {
  transition: 0.4s;
}
  
.lista_icones_share button:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 2em #AE119E);
  transform: translate(-2px, 2px);
}
  
.text_share {
  color: #08AD9D;
  font-size: 15px;
  font-weight: 400;
}
  
.btn_share {
  position: relative;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  left: 75%;
  border-radius: 5px;
  margin: 0 10px 0 10px;
  transition: .3s;

}

.btn_share:hover {
  filter: drop-shadow(0 0 2em #08ad9c4f);
  cursor: pointer;
}
  
.btn_share#mostra_tags {
  display: inline-flex;
  width: 50px;
  height: 20px;
  border-radius: 5px;
  background: linear-gradient(140deg, #08AD9D 47.83%, #AE119E 48.14%);
}
  
.btn_share#publica{
  width: 70px;
  height: 20px;
  border-radius: 5px;
  background: linear-gradient(204deg, #08AD9D 47.83%, #AE119E 48.14%);
  margin: 0 15px 0 0;
}


@media screen and (min-width: 700px) and  (max-width: 1100px){
/* Estilização do componente PostForm */

  .lista_icones_share {
    gap: 20px;
  }
  
  .text_share {
    display: none;
  }

  .btn_share {
    left: 60%;
  }
  
  .btn_share#publica{
    margin: 10px auto;
  }

}

@media screen and (min-width: 290px) and  (max-width: 700px){

  .lista_icones_share {
    left: -10%;
    gap: 5px;
  }
  
  .text_share {
    display: none;
  }

  
  .btn_share {
    left: 45%;  
  }
  
  .btn_share#publica{
    width: 60px;
    margin: 10px auto;
  }

}

