 /* Estilização do componente Post */
.container_post{
  position: relative;
  left: 10%;
  top: 35%;
  
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  max-width: 100%;
  margin: 25px auto;
  
  width: 700px;
  height: 200px;

  padding: 30px;
  border-radius: 30px;
  border: 1px solid #AE119E;
  background: #141313;
}
  
.text_loc{
  position: absolute;
  top: 0%;
  left: 17%;
  color: #08AD9D;
  font-size: 24px;
  font-weight: 400;
  text-align: right;
  margin: 10px 0 5px 10px;
  }
  
.img_perfil {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.horas{
  position: absolute;
  top: 8%;
  left: 12%;
  color: #FFF;
  font-size: 15px;
  margin: 10px 0 5px 10px;
}

li{
  list-style: none;
}

.lista_post{
  position: relative;
  display: flex;
  width: 600px;
  max-height: 50vh;
  left: 0%;

  flex-direction: column;
  align-items: flex-start;
}

  
img#post_foto{
  display: block;
  margin: 10px auto;
  max-width: 100%;
  height: auto;
}
  
.texto_usuario{
  position: absolute;
  top: 18%;
  text-align: left;

}

.interagir{
  position: absolute;
  top: 85%;
  display: flex;
  align-items: flex-end;
  justify-items: center;

}
  
.stats_post{
  font-size: 15px;
}
  
.btn_interagir img:hover{
  cursor: pointer;
}
  
p{
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
  margin: 5px 20px 0 1px;
}
  
strong{
  font-weight: normal;
  color: #AE119E;
} 

@media screen and (min-width: 700px) and  (max-width: 1100px){
  .text_loc{
    left: 17%;
    font-size: 20px;
  }

  .horas{
    top: 8%;
    left: 17%;
  }

  img#post_foto{
    max-width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 290px) and  (max-width: 700px){
  .text_loc{
    top: 2%;
    left: 25%;
    font-size: 15px;
    text-align: left;  
  }
  
  .horas{
    top: 12%;
    left: 25%;
  }
  
  img#post_foto{
    max-width: 100%;
    height: auto;
  }
}  